<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607100118579-5qf2jqgsefllbholonrk43cacsaj8g92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607100118579-5qf2jqgsefllbholonrk43cacsaj8g92</string>
	<key>API_KEY</key>
	<string>AIzaSyCBsJsN89U0ucTAdarFdB41yj3dwBZBhks</string>
	<key>GCM_SENDER_ID</key>
	<string>607100118579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.donsirivat.qfluence</string>
	<key>PROJECT_ID</key>
	<string>qfluence</string>
	<key>STORAGE_BUCKET</key>
	<string>qfluence.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607100118579:ios:e013a8cf49f1d981882546</string>
	<key>DATABASE_URL</key>
	<string>https://qfluence-default-rtdb.firebaseio.com</string>
</dict>
</plist>